In [19]:
import pandas as pd
import keras
import numpy as np
import matplotlib
import sklearn

In [2]:
location='../data/'

dipolesFile= location + 'dipole_moments.csv'
magneticShieldingFile= location + 'magnetic_shielding_tensors.csv'
mullikenFile= location + 'mulliken_charges.csv'
potentialEnergyFile= location + 'potential_energy.csv'
sampleFile= location + 'sample_submission.csv'
scalarCouplingFile= location + 'scalar_coupling_contributions.csv'
structuresFile= location + 'structures.csv'
testFile= location + 'test.csv'
trainFile= location + 'train.csv'
#File= location + '.csv'
#File= location + '.csv'

In [3]:
dipoles=pd.read_csv(dipolesFile)
magneticShielding=pd.read_csv(magneticShieldingFile)
mulliken=pd.read_csv(mullikenFile)
potentialEnergy=pd.read_csv(potentialEnergyFile)
sample=pd.read_csv(sampleFile)
scalarCoupling=pd.read_csv(scalarCouplingFile)
structures=pd.read_csv(structuresFile)
test=pd.read_csv(testFile)
train=pd.read_csv(trainFile)

In [4]:
#test.info #2505542
#train.info #4658147

# Feature Engineering

### Dipoles

In [5]:
dipoles['polar']=((dipoles['X']==0) & (dipoles['Y']==0) & (dipoles['Z']==0))

In [6]:
dipoles.describe()

                  X             Y             Z
count  85003.000000  85003.000000  85003.000000
mean      -0.019937      0.093764      0.252982
std        2.283738      1.739395      1.027573
min      -22.958000     -9.252300     -6.028500
25%       -1.363250     -0.941950     -0.247750
50%       -0.000100      0.081400      0.117600
75%        1.311000      1.166750      0.902050
max       21.873800     13.005600      6.880100

In [7]:
dipoles.head()

      molecule_name       X    Y       Z  polar
0  dsgdb9nsd_000001  0.0000  0.0  0.0000   True
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256  False
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511  False
3  dsgdb9nsd_000005  0.0000  0.0 -2.8937  False
4  dsgdb9nsd_000007  0.0000  0.0  0.0000   True

### Magnetic Shielding

In [8]:
magneticShielding.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

In [9]:
magneticShieldingUnified=magneticShielding.groupby('molecule_name').sum()
magneticShieldingUnified['count']=magneticShielding.groupby('molecule_name')['atom_index'].count()

In [10]:
magneticShieldingUnified=magneticShieldingUnified.reset_index()

In [11]:
magneticShieldingUnified.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ,count
0,dsgdb9nsd_000001,10,321.1575,0.0000,-0.0001,-8.881784e-16,321.1596,0.0007,-0.0002,0.0009,321.1590,5
1,dsgdb9nsd_000002,6,378.6791,0.0002,0.0127,2.000000e-04,378.6755,-0.0002,0.0167,-0.0003,321.4628,4
2,dsgdb9nsd_000003,3,359.4450,0.0000,0.0000,0.000000e+00,434.1190,0.0000,0.0000,0.0000,387.4142,3
3,dsgdb9nsd_000005,3,-155.7703,0.0000,0.0000,0.000000e+00,-155.7703,0.0000,0.0000,0.0000,656.9822,3
4,dsgdb9nsd_000007,28,571.0991,0.0008,0.0017,3.000000e-04,535.8459,0.0014,0.0016,0.0013,535.8345,8

### Mulliken

In [12]:
mullikenUnified=mulliken.groupby('molecule_name').sum().reset_index()

In [13]:
mullikenUnified

          molecule_name  atom_index  mulliken_charge
0      dsgdb9nsd_000001          10     0.000000e+00
1      dsgdb9nsd_000002           6     1.000000e-06
2      dsgdb9nsd_000003           3     0.000000e+00
3      dsgdb9nsd_000005           3     0.000000e+00
4      dsgdb9nsd_000007          28     1.249001e-16
5      dsgdb9nsd_000008          15     1.000000e-06
6      dsgdb9nsd_000009          21     1.000000e-06
7      dsgdb9nsd_000010          15     2.775558e-17
8      dsgdb9nsd_000011          21     1.000000e-06
9      dsgdb9nsd_000012          15    -5.551115e-17
10     dsgdb9nsd_000013          55     1.000000e-06
11     dsgdb9nsd_000014          36     1.000000e-06
12     dsgdb9nsd_000017          21    -5.551115e-17
13     dsgdb9nsd_000018          45    -2.775558e-17
14     dsgdb9nsd_000019          36     5.551115e-17
15     dsgdb9nsd_000021          91    -2.359224e-16
16     dsgdb9nsd_000023          15     5.551115e-17
17     dsgdb9nsd_000026          15     2.775558e-17
18     dsgdb9nsd_000027          10    -1.000000e-06
19     dsgdb9nsd_000028          15    -2.775558e-17
20     dsgdb9nsd_000029          45     1.000000e-06
21     dsgdb9nsd_000030          45     1.000000e-06
22     dsgdb9nsd_000031          36     1.000000e-06
23     dsgdb9nsd_000032          28    -1.000000e-06
24     dsgdb9nsd_000033          28     2.000000e-06
25     dsgdb9nsd_000034          21     1.000000e-06
26     dsgdb9nsd_000037          28    -2.775558e-17
27     dsgdb9nsd_000038          28    -1.000000e-06
28     dsgdb9nsd_000039          91    -1.000000e-06
29     dsgdb9nsd_000040          66     0.000000e+00
...                 ...         ...              ...
84973  dsgdb9nsd_133794         120    -1.665335e-16
84974  dsgdb9nsd_133795         153     1.000000e-06
84975  dsgdb9nsd_133796         190     2.000000e-06
84976  dsgdb9nsd_133797         171    -1.000000e-06
84977  dsgdb9nsd_133798         153     1.000000e-06
84978  dsgdb9nsd_133805         136     2.000000e-06
84979  dsgdb9nsd_133808         171     1.000000e-06
84980  dsgdb9nsd_133810         153    -1.000000e-06
84981  dsgdb9nsd_133815         136     4.163336e-17
84982  dsgdb9nsd_133817         136     1.526557e-16
84983  dsgdb9nsd_133818         120    -2.000000e-06
84984  dsgdb9nsd_133830         136     1.665335e-16
84985  dsgdb9nsd_133831         153    -1.387779e-16
84986  dsgdb9nsd_133841         136    -1.000000e-06
84987  dsgdb9nsd_133850         153     1.000000e-06
84988  dsgdb9nsd_133853         105     1.000000e-06
84989  dsgdb9nsd_133861         190    -1.110223e-16
84990  dsgdb9nsd_133862         190    -1.000000e-06
84991  dsgdb9nsd_133869         171    -4.163336e-17
84992  dsgdb9nsd_133873         190     1.000000e-06
84993  dsgdb9nsd_133874         153     4.000000e-06
84994  dsgdb9nsd_133875         136    -1.000000e-06
84995  dsgdb9nsd_133876         153    -1.000000e-06
84996  dsgdb9nsd_133877         171     1.000000e-06
84997  dsgdb9nsd_133878         153    -4.163336e-17
84998  dsgdb9nsd_133879         153    -9.714451e-17
84999  dsgdb9nsd_133880         136    -1.000000e-06
85000  dsgdb9nsd_133881         120     6.938894e-17
85001  dsgdb9nsd_133882         120    -1.387779e-16
85002  dsgdb9nsd_133884         153    -2.000000e-06

[85003 rows x 3 columns]

In [14]:
sample.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

In [15]:
train

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.807600
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.257000
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.254800
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.254300
4,4,dsgdb9nsd_000001,2,0,1JHC,84.807400
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.254100
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.254800
7,7,dsgdb9nsd_000001,3,0,1JHC,84.809300
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.254300
9,9,dsgdb9nsd_000001,4,0,1JHC,84.809500
10,10,dsgdb9nsd_000002,1,0,1JHN,32.688900
11,11,dsgdb9nsd_000002,1,2,2JHH,-11.186600
12,12,dsgdb9nsd_000002,1,3,2JHH,-11.175700
13,13,dsgdb9nsd_000002,2,0,1JHN,32.689100
14,14,dsgdb9nsd_000002,2,3,2JHH,-11.175800
15,15,dsgdb9nsd_000002,3,0,1JHN,32.690500
16,16,dsgdb9nsd_000003,1,2,2JHH,-9.946410
17,17,dsgdb9nsd_000005,2,0,1JHC,171.220000
18,18,dsgdb9nsd_000005,2,1,2JHN,5.182460
19,19,dsgdb9nsd_000007,2,0,1JHC,83.542900
20,20,dsgdb9nsd_000007,2,1,2JHC,-2.378310
21,21,dsgdb9nsd_000007,2,3,2JHH,-11.700500
22,22,dsgdb9nsd_000007,2,4,2JHH,-11.697900
23,23,dsgdb9nsd_000007,2,5,3JHH,3.252810
24,24,dsgdb9nsd_000007,2,6,3JHH,13.691300
25,25,dsgdb9nsd_000007,2,7,3JHH,3.252050
26,26,dsgdb9nsd_000007,3,0,1JHC,83.541700
27,27,dsgdb9nsd_000007,3,1,2JHC,-2.378620
28,28,dsgdb9nsd_000007,3,4,2JHH,-11.699600
29,29,dsgdb9nsd_000007,3,5,3JHH,13.692400
...,...,...,...,...,...,...
4658117,4658117,dsgdb9nsd_133884,14,6,2JHC,-1.148740
4658118,4658118,dsgdb9nsd_133884,14,7,3JHC,0.445037
4658119,4658119,dsgdb9nsd_133884,14,8,3JHC,0.660580
4658120,4658120,dsgdb9nsd_133884,14,15,2JHH,-9.199110
4658121,4658121,dsgdb9nsd_133884,15,0,3JHC,0.685640
4658122,4658122,dsgdb9nsd_133884,15,2,3JHC,0.445065
4658123,4658123,dsgdb9nsd_133884,15,3,3JHC,0.660647
4658124,4658124,dsgdb9nsd_133884,15,4,2JHC,0.318358
4658125,4658125,dsgdb9nsd_133884,15,5,1JHC,87.891100
4658126,4658126,dsgdb9nsd_133884,15,6,2JHC,-1.148660
4658127,4658127,dsgdb9nsd_133884,15,7,3JHC,6.131220
4658128,4658128,dsgdb9nsd_133884,15,8,3JHC,5.124150
4658129,4658129,dsgdb9nsd_133884,16,0,3JHC,4.922670
4658130,4658130,dsgdb9nsd_133884,16,1,2JHN,3.719250
4658131,4658131,dsgdb9nsd_133884,16,2,3JHC,8.935460
4658132,4658132,dsgdb9nsd_133884,16,3,3JHC,3.545350
4658133,4658133,dsgdb9nsd_133884,16,4,3JHC,-0.244777
4658134,4658134,dsgdb9nsd_133884,16,5,3JHC,-0.184689
4658135,4658135,dsgdb9nsd_133884,16,6,2JHC,1.025490
4658136,4658136,dsgdb9nsd_133884,16,7,1JHC,99.657200
4658137,4658137,dsgdb9nsd_133884,16,8,2JHC,9.119730
4658138,4658138,dsgdb9nsd_133884,16,17,3JHH,0.789559
4658139,4658139,dsgdb9nsd_133884,17,1,3JHN,-0.006537
4658140,4658140,dsgdb9nsd_133884,17,2,3JHC,1.944380
4658141,4658141,dsgdb9nsd_133884,17,3,2JHC,0.861412
4658142,4658142,dsgdb9nsd_133884,17,4,2JHC,3.543450
4658143,4658143,dsgdb9nsd_133884,17,5,3JHC,0.568997
4658144,4658144,dsgdb9nsd_133884,17,6,3JHC,1.173370
4658145,4658145,dsgdb9nsd_133884,17,7,2JHC,4.762010
4658146,4658146,dsgdb9nsd_133884,17,8,1JHC,117.934000

In [16]:
scalarCoupling.head()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

In [17]:
a=magneticShielding.merge(mulliken)
a=a.merge(dipoles)
a=a.merge(potentialEnergy)

In [18]:
a.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ,mulliken_charge,X,Y,Z,polar,potential_energy
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170,-0.535689,0.0,0.0,0.0,True,-40.52368
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861,0.133921,0.0,0.0,0.0,True,-40.52368
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967,0.133922,0.0,0.0,0.0,True,-40.52368
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579,0.133923,0.0,0.0,0.0,True,-40.52368
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013,0.133923,0.0,0.0,0.0,True,-40.52368

# Predictions

In [22]:
train['type'].unique()

array(['1JHC', '2JHH', '1JHN', '2JHN', '2JHC', '3JHH', '3JHC', '3JHN'],
      dtype=object)

In [ ]:
X=a
y=

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
X, y = make_regression(n_features=4, n_informative=2,
                       random_state=0, shuffle=False)
regr = AdaBoostRegressor(random_state=0, n_estimators=100)
regr.fit(X, y)  


regr.score(X, y)